@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  background-color: #21282c;
  color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  width: 85%;
  margin: auto;
}


.nav-container article {
  display: flex;

  margin-top: 50px;
}

.nav-container article div:not(:first-child) {
  margin-left: 200px; /* Indent main article from menu. */
}


.nav-bar {
  background-color: #161A1D;  
  height: 100px;
 
  border-radius: 15px;
}

.nav-bar nav {
  background-color: inherit;

  padding-left: 5%;
  padding-right: 5%;

  border-radius: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar nav div {
  background-color: inherit;
}

.nav-bar ul {
  background-color: inherit;
}

.nav-bar li {
  background-color: inherit;
  display: inline-block;
}

.nav-bar img {
  background-color: inherit;

  height: 80px;

  /* Elements next to pictures are vertically aligned in the middle. */
  vertical-align: middle;

  object-fit: cover;
}

.nav-bar ul {
  padding-left: 0px;
}

.nav-bar ul li a {
  color: #D3D3D3;
  background-color: inherit;

  padding-left: 5px;
  padding-right: 15px;
  border-radius: 20px;

  margin-left: 0px;
  margin-right: 2vh;

  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 95%;
}

.nav-bar ul li a:hover {
  color:#A4161A;
  font-size: 100%;
  transition: 0.2s;
}

.nav-bar input {
  width: 200px;
  /*height: 50px;*/

  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

  padding-top: 15px;
  padding-bottom: 15px;

  margin-right: 0px;
  margin-left: 0px;

  outline: none;
  text-align: center;
}

.nav-bar button#search-button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

  margin-left: 0px;

  transform: scale(1);
}

.nav-bar button#search-button:hover {
  transform: scale(1); /* Overide scaling of search button. */
}

.nav-bar input::placeholder {
  text-align: center;
  font-size: medium;
}

.nav-bar button {
  background-color: #A4161A;
  color: #D3D3D3;

  transform: scale(1);
  transition: transform 0.2s ease-out;

  border: none;
  border-radius: 25px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  margin-left: 10px;
  margin-right: 10px;

  text-align: center;
  font-weight: bold;

  cursor: pointer;
}

.nav-bar button:hover {
  transform: scale(1.1);
  transition: 0.1s ease-out;
}

.menu-container {
  background-color: #161A1D; 

  width: 25%;

  border-radius: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-container ul {
  background-color: inherit;
  list-style-type: none;

  padding-left: 30px;
}

.menu-container li {
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-container ul li a {
  color: #D3D3D3;
  background-color: inherit;

  padding-left: 0px;
  padding-right: 15px;
  border-radius: 20px;
  
  margin-left: 0px;
  margin-right: 2vh;

  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 95%;
  cursor: pointer;
}

.menu-container ul li a:hover {
  color:#A4161A;
  font-size: 100%;
  transition: 0.2s;
}

.menu-container ul li a i {
  background-color: inherit; /* inherit bg color behind logos. */
}